gale_exported
gale_images
resources
tiled
gale_sfx_back
gale_sound_pack_old
*.txt
*.log
*.png
*.jpg
*.py
*.mp3
*.ogg
*.wav
*.WAV
*.wma
*.flac
*.fdp
*.fdp.bak
*.obj
*.fobj
*.rar
.vscode
.idea
.fsbcache
*.bash